# Core functionality - changes here should be rare!
/src/app.py                   @cool2s
/src/backend/database.py      @cool2s
/src/backend/routers/auth.py  @cool2s

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cool2s
